Resources:
  AWSEBV2LoadBalancerListener:
    Properties:
      DefaultActions:
        - RedirectConfig:
            Host: '#{host}'
            Path: /#{path}
            Port: '443'
            Protocol: HTTPS
            Query: '#{query}'
            StatusCode: HTTP_301
          Type: redirect
      LoadBalancerArn:
        Ref: AWSEBV2LoadBalancer
      Port: 80
      Protocol: HTTP
    Type: AWS::ElasticLoadBalancingV2::Listener
  AWSEBV2LoadBalancerListenerHTTPS:
    Properties:
      Certificates:
        - CertificateArn: arn:aws:acm:us-east-2:477041904397:certificate/dcabdcfd-84d9-4bdf-847f-ae559f2c8d9a
      DefaultActions:
        - TargetGroupArn:
            Ref: AWSEBV2LoadBalancerTargetGroup
          Type: forward
      LoadBalancerArn:
        Ref: AWSEBV2LoadBalancer
      Port: 443
      Protocol: HTTPS
      SSLPolicy: ELBSecurityPolicy-FS-1-2-Res-2020-10
    Type: AWS::ElasticLoadBalancingV2::Listener
